/****** override of evoke.css *************/

/* rows  (evoke.css line 175) */
.row {
padding: 0 0;
}


/************************* adapted from old/dark.css  **************************/

#ratingfilter a.on{
color:#000
}

#ratingfilter a.off{
color:#AAE
}

#ratingfilter a.xon, #ratingfilter a.xoff:hover{
color:#999;
}

#ratingfilter a.xoff {
color:#EEE;
}



/************************ from versere.css **********************************/

blockquote.evoke{
 color:#DDD;
}
q {
 color:#DDD;
}

pre {
 color:#0DD;
}


/********************** from music.css: ratings-related overrides of evoke.css  ********************/


#rate a {
color:#000;
}

#rate a.enabled, #rate a.disabled:hover {
color:#EEE;
}

#rate a.disabled, #rate a.enabled:hover {
color:#777;
}


