@import "default.css";
@import "layout.css";
@import "dark.css";

button{
cursor:pointer;
}

/*#main {
 margin:60px 0px 0px 0px;
}*/

#contentheader{
margin:0 0 0 0;
}

#pagetitle{
display:inline;
}

#pagetitleline{
padding:5px 0 0 0;
}


#rate-score{
float:right;
display:inline-block;
margin-right:20px;
}
#score{
vertical-align:10%;
}

/*
#controls{
margin-top: 70px;
}
*/

#transport {
 position:fixed;
 bottom:0px;
 left:0px;
 margin:10px 0 0 0;
 padding:2px;
 z-index:100;
/* width:100%;*/
/* width:210px;*/
}

#transport button {
/* height:24px; */
}

#viewsymbols img{
height:22px;
padding: 0px 5px;
}

#navbar {
float:right;
margin-right:2%;
}

#next_nav {
clear:none;
}

#searchform input {
width: 200p;
margin:0px;
padding:1px;
font-size:18px;
}
#gobutton {
/*vertical-align:top;*/
width:auto;
height:auto;
/*font-size: 12px;*/
/*margin:0 10px 0 0;*/
}

#gobutton img{
vertical-align:bottom;
width:20px;
}


/*
#next_item {
float:none;
padding:20px 0;
}
*/
#next_item, #prev_item {
padding: 0 5px;
}


.title {
font-size: 200%;
}

/*
.row:after,.summary:after,#controls:after,#content:after,.section:after, #upperbody:after,#torso:after,#controls:after,#main:after{
clear: none;
 }
*/
/*
.super {
vertical-align:super;
}
*/

/*generic messages*/

#message, #warning, #error {
padding: 2px;
margin: 0;
 }

/* browser compatibility fixes */

button::-moz-focus-inner { margin: -1px; padding: 0; border-width: 1px; }

/* #extras {width:70%;}*/